
.mainBoard {
    position: relative;
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: flex;
    left: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    column-gap: 30px;
    justify-content: center;
}
