
.colTask {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 0, 0.276);
    width: 15vw;
    height: 90%;
    row-gap: 5px;
    margin-top: 10px;
}