
.rowTask {
    display: flex;
    position: relative;
}

.deleteButton {
    position: absolute;
    right: 0px;
    top: 0px;
}

.rowTaskArea {
    background-color: pink;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(226, 108, 255);
    padding: 10px;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    font-weight: bolder;
}

.rowTaskArea:focus {
    background-color: rgb(237, 163, 255);
}

.deleteButton {
    width: 24px;
    height: 24px;
    padding: 0px;
    border: 0px;
    
    background-size: cover;
    background-image: url("./../assets/delete.png");
}