
.rowTitle {
    background-color: rgba(112, 41, 93, 0.885);
    box-sizing: border-box;
    border: 1px solid rgba(27, 31, 145, 0.151);
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 229, 43);
    font-size: 20px;
    font-weight: 10%;
    resize: none;
    width: 100%;
    overflow: hidden;
}

.rowTitle::placeholder {
    color: rgb(141, 141, 37);
}