.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0px;
  bottom: 0px;
  background-color: rgb(57, 40, 98);
  align-items: center;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

.sidebarButton {
  border: 0px;
  padding: 0px;
  position: fixed;
  background-color: rgb(0, 94, 166);
  top: 150px;
  left: 0px;
  height: 40px;
  width: 40px;
  transition: left 0.3s;
  cursor: pointer;
  background-image: url("./../assets/arrowOpen.png");
}

.sidebarButton.open {
  left: 250px;
  background-image: url("./../assets/arrowClose.png");
}


.genericButton {
  border: 0px;
  padding: 0px;
  background-color: rgb(216, 187, 69);
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.genericButton:active {
  background-color: white;
}