
body {
    overflow-x: hidden;
}

header {
    position: fixed;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;

    background-color: rgb(18, 18, 75);
    color: rgb(180, 230, 255);
}

h1 {
    margin: 0px;
}

main {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 100px);
}
